# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Environment files
.env
.env.*

# Azure / local credentials
*.pem
*.key
*.pfx
*.cer

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local Docker files
*.tar